 .text-light-black {
    color: rgba(0,0,0,0.6);
}
.text-black {
    color: rgba(0,0,0,0.9);
}
.text-muted {
    color: rgba(0, 0, 0, 0.3);
}
.text-uppercase {
    text-transform: uppercase;
}
.ff-serif {
    font-family: 'Lora', serif;
    line-height: 1.25;
}
.font-weight-normal {
    font-weight: normal;
}
.font-weight-medium {
    font-weight: 500;
}
 .lts-1px {
    letter-spacing: 1px;
}
.lts-2px {
    letter-spacing: 2px;
}
.w-full {
    width: 100%;
}
 .text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute
}
.small {
    font-size: 0.75rem;
}
.card-heading {
    font-size: 2.25rem;
    word-break: break-all;
}
.styled-link {
    text-decoration: none;
    outline: none;
    color: #2196fe;
    transition: all 0.25s ease-in;
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
    color: #536dfe;
}
.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
}
.blue-hover:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid #2196fe;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 360px;
    overflow: hidden;
    border-radius: 1px;"
}
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.ml-2 {
    margin-left: 2rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


