@keyframes spinner {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(359deg); }
}

.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0 1px 5px #EF3E36;
}

.input-login {
    display: block;
    padding: 12px 10px;
    margin-bottom: 10px;
    width: 100%;
    transition: border-width 0.2s ease;
}

.title-login{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    padding-bottom: 20px;
}

.button-login {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background:#EF3E36;
    color: #fff;
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.a-login{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    word-break: break-all;
}
