@keyframes spinner {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(359deg); }
}

.login {
    width: 100%;
    position: relative;
}

.input-login {
    display: block;
    padding: 12px 10px;
    margin-bottom: 10px;
    width: 100%;
    transition: border-width 0.2s ease;
}

.title-login{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    padding-bottom: 20px;
}

.a-login{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    word-break: break-all;
}
