body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #40c4ff;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


