<html>
<head>
    <title>#title</title>
    <link rel="stylesheet" type="text/css" href="frame.css" />

</head>
<body>
<div id="header">
    <h2>Header</h2>
</div>
<div id="menu">
    <h2>Components</h2>
    <ul>
        <li><a href="./../user_profile/user_profile.php">User profile</a> - example of a user profile page</li>
        <li><a href="./../users_list/users_list.php">List users</a> - example table with listing of users</li>
    </ul>
</div>
<div id = "content">
    #content
</div>
<div id="footer">
    <h2>Footer</h2>

</div>
</body>
</html>