.column-1 {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

