.column-3 {
    float: left;
    width: 33.33%;
    padding: 2%;
    justify-content: center;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}