
img {
    max-width: 500px;
    border-radius: 100px;

}

html, body {
    height: 100%;
}


.card {
    position: relative;
    background: #fff;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
    word-break: break-all;
    border-radius: 100px;

}
.card .header {
    background-size: cover;
    min-height: 350px;
    word-break: break-all;
    border-radius: 100px;


}
.card .header .icon a .fa-heart-o {
    position: absolute;
    left: 85%;
    bottom: 30.7%;
    background: #17BEBB;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 5px 30px 1px #17BEBB;
    word-break: break-all;
    border-radius: 100px;


}
.card .text .food {
    color: #212129;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 5px 30px;
    word-break: break-all;
    border-radius: 100px;

}
.card .text .fa-clock-o {
    color: #9B9B9B;
    margin: 0 30px;
    word-break: break-all;
    border-radius: 100px;


}
.card .text .fa-users {
    color: #9B9B9B;
    word-break: break-all;
    border-radius: 100px;


}
.card .text .fa-difficult {
    color: #9B9B9B;
    margin-left: 7%;
    word-break: break-all;
    border-radius: 100px;


}
.card .stars {
    margin: 10px 30px;
    word-break: break-all;
    border-radius: 100px;

}
.card .stars li a i {
    color: #FFE500;
    word-break: break-all;
    border-radius: 100px;

}
.card .info {
    margin: 10px 30px;
    word-break: break-all;
    border-radius: 100px;

}
.card a.btn {
    display: block;
    background: #EF3E36;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
    transition: 250ms;
    word-break: break-all;
    border-radius: 100px;

}
.card a.btn:hover {
    background: #17BEBB;
    transition: 250ms;
    word-break: break-all;
    border-radius: 100px;

}
