@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    margin: 0;
}

/*===================================================================================================
TABELLE
=====================================================================================================*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/*===================================================================================================
COLONNE
=====================================================================================================*/
@media screen and (max-width: 480px) {
    .column {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*===================================================================================================
FORM-CONTAINER
=====================================================================================================*/
.form-container {
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.form-container .form-style{
    background: #FAFAFA;
    padding: 30px;
    border-radius: 10px;
}

.form-container .button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #EF3E36;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

/*===================================================================================================
CARD-CONTAINER
=====================================================================================================*/
.card {
    position: relative;
    background: #fff;
    max-width: 500px;
    margin: auto;
    word-break: break-all;
    border-radius: 10px;
}
.card img {
    max-width: 100%;
}
.card .header {
    background-size: cover;
    min-height: 350px;
}
.card .text .title {
    color: #212129;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 5px 30px;
}
.card .stars {
    margin: 10px 30px;
}
.card .stars li a i {
    color: #FFE500;
}
.card .info {
    margin: 10px 30px;
}
.card a.btn {
    display: block;
    background: #EF3E36;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
}
.card a.btn:hover {
    background: #17BEBB;
    transition: 250ms;
}








