body{
    margin: 0px;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


@media screen and (max-width: 480px) {

    .column {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
