
.form-style ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style ul li  .field-style:focus{
     box-shadow: 0 0 5px #B0CFE0;
     border:1px solid #EF3E36;
 }
.form-style ul li .field-split{
    width: 49%;
}
.form-style ul li .field-full{
    width: 100%;
}
.form-style ul li input.align-left{
    float:left;
}
.form-style ul li input.align-right{
    float:right;
}
.form-style ul li textarea{
    width: 100%;
    height: 100px;
}

.submit-gf{
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #EF3E36;
    border-image: initial;
}

